<table class="mat-elevation-z8" mat-table [dataSource]="playlists()">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Playlist</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="curator">
    <th mat-header-cell *matHeaderCellDef>Curated by</th>
    <td mat-cell *matCellDef="let element">{{ element.curator }}</td>
  </ng-container>

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <img
        class="playlist-image"
        [src]="element.imgSrc"
        [alt]="element.name"
        width="50"
        height="50"
      />
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    class="clickable"
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="openPlaylist(row)"
  ></tr>
</table>
